<div class="row">
  <div class="jumbotron col-12">
    <h1 class="display-4">AI Icons</h1> 
    <p class="lead">Ce site est une librairie gratuite d'icônes en 3D générées par Midjourney.</p>
      <% if user_signed_in? %> 
      <div> Bonjour <%= current_user.email %>, nous sommes heureux de te voir</div> 
      <% end %>
  </div>
</div>

  <%# Barre de recherche %>
  <div class="row">
    <div class="col-md-6 col-lg-4">
      <form target="" method="">
        <div class="input-group mb-3">
          <input name="term" value="<%= @term %>" type="text" class="form-control" placeholder="Rechercher" aria-label="Rechercher" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
          </div>
        </div>
      </form>
    </div>
  </div>

<div id="icons" class="row gap-3">
  <% @icons.each do |icon| %>
    <%= render icon %>
  <% end %>
</div>
